In [28]:
import pandas as pd
import re

In [13]:
df = pd.read_csv('indeed_scraping.csv')
df.head()

,Unnamed: 0,Company,Description,JobTitle,JobUrl,Location,Salary,Summary
0,0,Ztore (HK),Ztores data team is rapidly expanding. We are ...,Associate Data Scientist (Graduate Program),https://hk.indeed.com/rc/clk?jk=b6d249951d3665...,"Cheung Sha Wan, Kowloon",NaN,Design data models for our data warehouse and ...
1,1,Clover Health (HK),"Clover's engineering team is empathetic, carin...",Data Scientist,https://hk.indeed.com/rc/clk?jk=eed6d248976f3a...,"Kennedy Town, Hong Kong Island",NaN,Candidates with less experience will be consid...
2,2,APT Satellite,Responsibilities:\n\nMonitor satellite telemet...,Assistant Satellite Operation Engineer (SCC),https://hk.indeed.com/rc/clk?jk=1e68c0724d7913...,Hong Kong,NaN,Personal Data collected will be used for recru...
3,3,Apoidea (HK),We are currently looking to hire a Data Scient...,Data Scientist,https://hk.indeed.com/rc/clk?jk=871d2e16f95e55...,"Lai Chi Kok, Kowloon",NaN,We are currently looking to hire a Data Scient...
4,4,Lalamove (HK),Lalamove is disrupting the logistics industry ...,"Senior Data Scientist, Analytics",https://hk.indeed.com/rc/clk?jk=5677c71f2e7c2d...,"Kowloon Tong, Kowloon",NaN,At least 5 year of experience as a data scient...

In [14]:
df = df.drop_duplicates()
df

,Unnamed: 0,Company,Description,JobTitle,JobUrl,Location,Salary,Summary
0,0,Ztore (HK),Ztores data team is rapidly expanding. We are ...,Associate Data Scientist (Graduate Program),https://hk.indeed.com/rc/clk?jk=b6d249951d3665...,"Cheung Sha Wan, Kowloon",NaN,Design data models for our data warehouse and ...
1,1,Clover Health (HK),"Clover's engineering team is empathetic, carin...",Data Scientist,https://hk.indeed.com/rc/clk?jk=eed6d248976f3a...,"Kennedy Town, Hong Kong Island",NaN,Candidates with less experience will be consid...
2,2,APT Satellite,Responsibilities:\n\nMonitor satellite telemet...,Assistant Satellite Operation Engineer (SCC),https://hk.indeed.com/rc/clk?jk=1e68c0724d7913...,Hong Kong,NaN,Personal Data collected will be used for recru...
3,3,Apoidea (HK),We are currently looking to hire a Data Scient...,Data Scientist,https://hk.indeed.com/rc/clk?jk=871d2e16f95e55...,"Lai Chi Kok, Kowloon",NaN,We are currently looking to hire a Data Scient...
4,4,Lalamove (HK),Lalamove is disrupting the logistics industry ...,"Senior Data Scientist, Analytics",https://hk.indeed.com/rc/clk?jk=5677c71f2e7c2d...,"Kowloon Tong, Kowloon",NaN,At least 5 year of experience as a data scient...
...,...,...,...,...,...,...,...,...
1044,1044,First Abu Dhabi Bank,KEY RESPONSIBILITIES:\nResponsible for working...,"Executive Director, FX & Rates",https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Hong Kong,NaN,Consistent analysis of economic data and marke...
1045,1045,Aozora Asia Pacific Finance Limited,".Responsibilities:\nWorking as a team member, ...","Associate, Structured and Leveraged Finance",https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Hong Kong,NaN,Supervise junior analysts for production of qu...
1046,1046,Global Sage Hong Kong,Responsibilities:\nCorporate Business Developm...,"Finance Director, Financial Planning and Analy...",https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Hong Kong,NaN,Conduct overall Corporate portfolio analysis;\...
1047,1047,China Shandong Hi-Speeed Financial Group Ltd,Key Responsibilities:\nProfessionally advise o...,SVP/VP/AVP /Associate - Investment & Strategic...,https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Hong Kong,NaN,Focus on investment opportunity/project analys...
1048,1048,Zeal Holding Limited,Responsibilities but not limited to\nManage th...,Chief Financial Officer (Fintech),https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Hong Kong,NaN,(Personal Data collected will be used for recr...

In [16]:
df['Jobsdb_Indeed'] = 'Indeed'
df

,Unnamed: 0,Company,Description,JobTitle,JobUrl,Location,Salary,Summary,Jobsdb_Indeed
0,0,Ztore (HK),Ztores data team is rapidly expanding. We are ...,Associate Data Scientist (Graduate Program),https://hk.indeed.com/rc/clk?jk=b6d249951d3665...,"Cheung Sha Wan, Kowloon",NaN,Design data models for our data warehouse and ...,Indeed
1,1,Clover Health (HK),"Clover's engineering team is empathetic, carin...",Data Scientist,https://hk.indeed.com/rc/clk?jk=eed6d248976f3a...,"Kennedy Town, Hong Kong Island",NaN,Candidates with less experience will be consid...,Indeed
2,2,APT Satellite,Responsibilities:\n\nMonitor satellite telemet...,Assistant Satellite Operation Engineer (SCC),https://hk.indeed.com/rc/clk?jk=1e68c0724d7913...,Hong Kong,NaN,Personal Data collected will be used for recru...,Indeed
3,3,Apoidea (HK),We are currently looking to hire a Data Scient...,Data Scientist,https://hk.indeed.com/rc/clk?jk=871d2e16f95e55...,"Lai Chi Kok, Kowloon",NaN,We are currently looking to hire a Data Scient...,Indeed
4,4,Lalamove (HK),Lalamove is disrupting the logistics industry ...,"Senior Data Scientist, Analytics",https://hk.indeed.com/rc/clk?jk=5677c71f2e7c2d...,"Kowloon Tong, Kowloon",NaN,At least 5 year of experience as a data scient...,Indeed
...,...,...,...,...,...,...,...,...,...
1044,1044,First Abu Dhabi Bank,KEY RESPONSIBILITIES:\nResponsible for working...,"Executive Director, FX & Rates",https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Hong Kong,NaN,Consistent analysis of economic data and marke...,Indeed
1045,1045,Aozora Asia Pacific Finance Limited,".Responsibilities:\nWorking as a team member, ...","Associate, Structured and Leveraged Finance",https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Hong Kong,NaN,Supervise junior analysts for production of qu...,Indeed
1046,1046,Global Sage Hong Kong,Responsibilities:\nCorporate Business Developm...,"Finance Director, Financial Planning and Analy...",https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Hong Kong,NaN,Conduct overall Corporate portfolio analysis;\...,Indeed
1047,1047,China Shandong Hi-Speeed Financial Group Ltd,Key Responsibilities:\nProfessionally advise o...,SVP/VP/AVP /Associate - Investment & Strategic...,https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Hong Kong,NaN,Focus on investment opportunity/project analys...,Indeed
1048,1048,Zeal Holding Limited,Responsibilities but not limited to\nManage th...,Chief Financial Officer (Fintech),https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Hong Kong,NaN,(Personal Data collected will be used for recr...,Indeed

In [4]:
df2 = pd.read_csv('Jobsdbclean-2.csv')
df2

,Unnamed: 0,Career_Level,Company,Description,Summary,Job_Type,Qualification,JobTitle,Years_Experience,Industry,...,Benefits_Life_insurance,Benefits_Medical_insurance,Benefits_Overtime_pay,Benefits_Performance_bonus,Benefits_Transportation_allowance,Benefits_Travel_allowance,Benefits_Double_pay,Benefits_Education_allowance,Benefits_Work_from_home,Jobsdb_Indeed
0,0,Senior,Neo Derm (HK) Ltd,About us:\nNeo Derm has been continuously unde...,"Develop different data science initiatives ,Ma...","Full Time, Permanent",Degree,Data Analytics Manager – Machine Learning / AI,5.0,Health & Beauty Care,...,No,No,No,Yes,No,No,No,No,No,Jobsdb
1,1,Middle,EY,FSO Assurance Senior – iData analytics and ena...,"University degree or above,Knowledge of MS Exc...","Full Time, Permanent",Degree,Assurance – Audit Services – Financial Service...,3.0,Accounting / Audit / Tax Services,...,Yes,No,No,No,No,No,No,No,No,Jobsdb
2,2,Entry Level,Avery Dennison Hong Kong BV,\nAbout Your Role\nThe Data Solutions Speciali...,Strong interest in IT solutions & data managem...,"Full Time, Permanent",Degree,Data Solutions Specialist,3.0,Manufacturing,...,Yes,No,No,Yes,No,No,Yes,No,No,Jobsdb
3,3,Senior,ConnectedGroup Ltd,Our client is a leading F&B label. They are no...,"build customer life-cycle programs,traffic gen...","Full Time, Permanent",Degree,"Data Analytics Manager, CRM (Food, 45K)",8.0,Food and Beverage,...,No,No,No,No,No,No,No,No,No,Jobsdb
4,4,Middle,PCCW Media,Key Responsibilities\n\nLead and set the roadm...,Lead and set the roadmap of data-driven cultur...,Full Time,Degree,Senior Data Analyst,6.0,Telecommunication,...,No,No,No,No,No,No,No,No,No,Jobsdb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10899,11964,Middle,Hongkong Land Group Limited,Responsibilities:\n\nSupervise and carry out d...,"Engineer, 6 years of experience,Bachelor Degre...","Full Time, Permanent",Degree,Senior Engineer (Ref: TSS-SE-JDB),6.0,Property Development,...,No,No,No,Yes,No,No,No,No,No,Jobsdb
10900,11966,Entry Level,Lee's Cleaning Services Co. Limited,Responsibilities:\nProvide customer services s...,"Dobule Pay & Performance Bonus,Customer Servic...",Full Time,Degree,Secretary,2.0,Property Management / Consultancy,...,No,No,No,Yes,No,No,Yes,No,No,Jobsdb
10901,11967,Not Specified,Mtel Career Consulting,Project executive\nDuty\n\nVerify data list in...,"Have education sector working experience,commu...",Contract,Not Specified,Project Executive,NaN,Information Technology,...,No,No,No,No,No,No,No,No,No,Jobsdb
10902,11968,Entry Level,HKT,職責\n\n處理大型電力系統的安裝、維修、保養及測試；\n電力系統包括：電掣櫃，配電系統，無...,"五年或以上相關經驗,相關學徒訓練或技工証書,持有香港駕駛執照類別（1）或（2）者優先考慮","Full Time, Permanent",Non-Degree Tertiary,高級技術員/技術主任 - 電器 (Ref. No.: FM-E-ST/TO-H),5.0,Telecommunication,...,No,No,No,No,No,No,No,No,No,Jobsdb
10903,11969,Not Specified,The Build-Up Plastic and Metal Company Limited,Responsibilities\n\nProvide clerical support a...,"Double pay, Bonus, Bank holiday, Medical insur...","Full Time, Permanent",Not Specified,Customer Service Clerk / Assistant (5-Day Work),NaN,Manufacturing,...,No,No,No,Yes,No,No,Yes,No,No,Jobsdb

In [17]:
final_Data = df2.append(df, sort=False)

In [18]:
final_Data

,Unnamed: 0,Career_Level,Company,Description,Summary,Job_Type,Qualification,JobTitle,Years_Experience,Industry,...,Benefits_Medical_insurance,Benefits_Overtime_pay,Benefits_Performance_bonus,Benefits_Transportation_allowance,Benefits_Travel_allowance,Benefits_Double_pay,Benefits_Education_allowance,Benefits_Work_from_home,Jobsdb_Indeed,JobUrl
0,0,Senior,Neo Derm (HK) Ltd,About us:\nNeo Derm has been continuously unde...,"Develop different data science initiatives ,Ma...","Full Time, Permanent",Degree,Data Analytics Manager – Machine Learning / AI,5.0,Health & Beauty Care,...,No,No,Yes,No,No,No,No,No,Jobsdb,NaN
1,1,Middle,EY,FSO Assurance Senior – iData analytics and ena...,"University degree or above,Knowledge of MS Exc...","Full Time, Permanent",Degree,Assurance – Audit Services – Financial Service...,3.0,Accounting / Audit / Tax Services,...,No,No,No,No,No,No,No,No,Jobsdb,NaN
2,2,Entry Level,Avery Dennison Hong Kong BV,\nAbout Your Role\nThe Data Solutions Speciali...,Strong interest in IT solutions & data managem...,"Full Time, Permanent",Degree,Data Solutions Specialist,3.0,Manufacturing,...,No,No,Yes,No,No,Yes,No,No,Jobsdb,NaN
3,3,Senior,ConnectedGroup Ltd,Our client is a leading F&B label. They are no...,"build customer life-cycle programs,traffic gen...","Full Time, Permanent",Degree,"Data Analytics Manager, CRM (Food, 45K)",8.0,Food and Beverage,...,No,No,No,No,No,No,No,No,Jobsdb,NaN
4,4,Middle,PCCW Media,Key Responsibilities\n\nLead and set the roadm...,Lead and set the roadmap of data-driven cultur...,Full Time,Degree,Senior Data Analyst,6.0,Telecommunication,...,No,No,No,No,No,No,No,No,Jobsdb,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,1044,NaN,First Abu Dhabi Bank,KEY RESPONSIBILITIES:\nResponsible for working...,Consistent analysis of economic data and marke...,NaN,NaN,"Executive Director, FX & Rates",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indeed,https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1045,1045,NaN,Aozora Asia Pacific Finance Limited,".Responsibilities:\nWorking as a team member, ...",Supervise junior analysts for production of qu...,NaN,NaN,"Associate, Structured and Leveraged Finance",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indeed,https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1046,1046,NaN,Global Sage Hong Kong,Responsibilities:\nCorporate Business Developm...,Conduct overall Corporate portfolio analysis;\...,NaN,NaN,"Finance Director, Financial Planning and Analy...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indeed,https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1047,1047,NaN,China Shandong Hi-Speeed Financial Group Ltd,Key Responsibilities:\nProfessionally advise o...,Focus on investment opportunity/project analys...,NaN,NaN,SVP/VP/AVP /Associate - Investment & Strategic...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indeed,https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1048,1048,NaN,Zeal Holding Limited,Responsibilities but not limited to\nManage th...,(Personal Data collected will be used for recr...,NaN,NaN,Chief Financial Officer (Fintech),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indeed,https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...

In [35]:
final_Data['a'] = final_Data.Description.str.extract('(Python)')
final_Data['b'] = final_Data.Description.str.extract('(SQL)')
final_Data['c'] = final_Data.Description.str.extract('(Machine Learning)')
final_Data['d'] = final_Data.Description.str.extract('(Spark)')
final_Data['e'] = final_Data.Description.str.extract('(Java)')
final_Data['f'] = final_Data.Description.str.extract('(Data Mining)')
final_Data['g'] = final_Data.Description.str.extract('(Hadoop)')
final_Data['h'] = final_Data.Description.str.extract('(Tableau)')
final_Data['i'] = final_Data.Description.str.extract('(Hive)')
final_Data['j'] = final_Data.Description.str.extract('(SAS)')
final_Data['k'] = final_Data.Description.str.extract('(Big Data)')
final_Data['l'] = final_Data.Description.str.extract('(GCP)')
final_Data['m'] = final_Data.Description.str.extract('(AI)')
final_Data['n'] = final_Data.Description.str.extract(r'(R[^\w&])')
final_Data['o'] = final_Data.Description.str.extract('(AWS)')
final_Data['p'] = final_Data.Description.str.extract('(Azure)')
final_Data

,Career_Level,Company,Description,Summary,Job_Type,Qualification,JobTitle,Years_Experience,Industry,Location,...,h,i,j,k,l,m,n,Test,o,p
0,Senior,Neo Derm (HK) Ltd,About us:\nNeo Derm has been continuously unde...,"Develop different data science initiatives ,Ma...","Full Time, Permanent",Degree,Data Analytics Manager – Machine Learning / AI,5.0,Health & Beauty Care,Tai Koo,...,NaN,NaN,NaN,Big Data,NaN,AI,NaN,Data Analyst,NaN,NaN
1,Middle,EY,FSO Assurance Senior – iData analytics and ena...,"University degree or above,Knowledge of MS Exc...","Full Time, Permanent",Degree,Assurance – Audit Services – Financial Service...,3.0,Accounting / Audit / Tax Services,Quarry Bay,...,NaN,NaN,NaN,NaN,NaN,AI,R,Data Analyst,NaN,NaN
2,Entry Level,Avery Dennison Hong Kong BV,\nAbout Your Role\nThe Data Solutions Speciali...,Strong interest in IT solutions & data managem...,"Full Time, Permanent",Degree,Data Solutions Specialist,3.0,Manufacturing,Tseung Kwan O,...,NaN,NaN,NaN,NaN,NaN,NaN,R\n,Data Solutions Specialist,NaN,NaN
3,Senior,ConnectedGroup Ltd,Our client is a leading F&B label. They are no...,"build customer life-cycle programs,traffic gen...","Full Time, Permanent",Degree,"Data Analytics Manager, CRM (Food, 45K)",8.0,Food and Beverage,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst,NaN,NaN
4,Middle,PCCW Media,Key Responsibilities\n\nLead and set the roadm...,Lead and set the roadmap of data-driven cultur...,Full Time,Degree,Senior Data Analyst,6.0,Telecommunication,Kowloon Bay,...,NaN,Hive,NaN,NaN,NaN,AI,R;,Data Analyst,AWS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,NaN,First Abu Dhabi Bank,KEY RESPONSIBILITIES:\nResponsible for working...,Consistent analysis of economic data and marke...,NaN,NaN,"Executive Director, FX & Rates",NaN,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Executive Director, FX & Rates",NaN,NaN
1045,NaN,Aozora Asia Pacific Finance Limited,".Responsibilities:\nWorking as a team member, ...",Supervise junior analysts for production of qu...,NaN,NaN,"Associate, Structured and Leveraged Finance",NaN,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Associate, Structured and Leveraged Finance",NaN,NaN
1046,NaN,Global Sage Hong Kong,Responsibilities:\nCorporate Business Developm...,Conduct overall Corporate portfolio analysis;\...,NaN,NaN,"Finance Director, Financial Planning and Analy...",NaN,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,R,"Finance Director, Financial Planning and Analy...",NaN,NaN
1047,NaN,China Shandong Hi-Speeed Financial Group Ltd,Key Responsibilities:\nProfessionally advise o...,Focus on investment opportunity/project analys...,NaN,NaN,SVP/VP/AVP /Associate - Investment & Strategic...,NaN,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SVP/VP/AVP /Associate - Investment & Strategic...,NaN,NaN
1048,NaN,Zeal Holding Limited,Responsibilities but not limited to\nManage th...,(Personal Data collected will be used for recr...,NaN,NaN,Chief Financial Officer (Fintech),NaN,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chief Financial Officer (Fintech),NaN,NaN

In [20]:
final_Data = final_Data.drop('Unnamed: 0',axis=1)
final_Data = final_Data.drop('JobUrl',axis=1)

In [31]:
final_Data = final_Data.drop('Test',axis=1)

In [32]:
final_Data["Test"] = final_Data["JobTitle"].map(lambda x: "Data Analyst" if "Data Analyst" in x else ("Data Analyst" if "Data analyst" in x else ("Data Analyst" if "Data analytics" in x else ("Data Analyst" if "Data Analytics" in x else ("Data Analyst" if "Data Analysis" in x else ("Data Scientist" if "Data Scientist" in x else ("Business Analyst" if "Business Analyst" in x else ("Data Scientist" if "Machine Learning" in x else ("Data Engineer" if "Data Engineer" in x else ("Data Scientist" if "Big Data" in x else ("Data Engineer" if "Engineer" in x else ("Data Analyst" if "Insight Analyst" in x else ("Data Entry" if "Data Entry" in x else ("Data Centre Related" if "Data Centre" in x else ("System Analyst" if "System Analyst" in x else ("Data Architect" if "Data Architect" in x else ("Data Centre Related" if "Data Center" in x else ("Data Analyst" if "Data Operation Analyst" in x else x))))))))))))))))))

In [34]:
final_Data.to_csv('Merge_Data.csv')

In [33]:
final_Data

,Career_Level,Company,Description,Summary,Job_Type,Qualification,JobTitle,Years_Experience,Industry,Location,...,f,g,h,i,j,k,l,m,n,Test
0,Senior,Neo Derm (HK) Ltd,About us:\nNeo Derm has been continuously unde...,"Develop different data science initiatives ,Ma...","Full Time, Permanent",Degree,Data Analytics Manager – Machine Learning / AI,5.0,Health & Beauty Care,Tai Koo,...,NaN,NaN,NaN,NaN,NaN,Big Data,NaN,AI,NaN,Data Analyst
1,Middle,EY,FSO Assurance Senior – iData analytics and ena...,"University degree or above,Knowledge of MS Exc...","Full Time, Permanent",Degree,Assurance – Audit Services – Financial Service...,3.0,Accounting / Audit / Tax Services,Quarry Bay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AI,R,Data Analyst
2,Entry Level,Avery Dennison Hong Kong BV,\nAbout Your Role\nThe Data Solutions Speciali...,Strong interest in IT solutions & data managem...,"Full Time, Permanent",Degree,Data Solutions Specialist,3.0,Manufacturing,Tseung Kwan O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R\n,Data Solutions Specialist
3,Senior,ConnectedGroup Ltd,Our client is a leading F&B label. They are no...,"build customer life-cycle programs,traffic gen...","Full Time, Permanent",Degree,"Data Analytics Manager, CRM (Food, 45K)",8.0,Food and Beverage,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst
4,Middle,PCCW Media,Key Responsibilities\n\nLead and set the roadm...,Lead and set the roadmap of data-driven cultur...,Full Time,Degree,Senior Data Analyst,6.0,Telecommunication,Kowloon Bay,...,NaN,NaN,NaN,Hive,NaN,NaN,NaN,AI,R;,Data Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,NaN,First Abu Dhabi Bank,KEY RESPONSIBILITIES:\nResponsible for working...,Consistent analysis of economic data and marke...,NaN,NaN,"Executive Director, FX & Rates",NaN,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Executive Director, FX & Rates"
1045,NaN,Aozora Asia Pacific Finance Limited,".Responsibilities:\nWorking as a team member, ...",Supervise junior analysts for production of qu...,NaN,NaN,"Associate, Structured and Leveraged Finance",NaN,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Associate, Structured and Leveraged Finance"
1046,NaN,Global Sage Hong Kong,Responsibilities:\nCorporate Business Developm...,Conduct overall Corporate portfolio analysis;\...,NaN,NaN,"Finance Director, Financial Planning and Analy...",NaN,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,"Finance Director, Financial Planning and Analy..."
1047,NaN,China Shandong Hi-Speeed Financial Group Ltd,Key Responsibilities:\nProfessionally advise o...,Focus on investment opportunity/project analys...,NaN,NaN,SVP/VP/AVP /Associate - Investment & Strategic...,NaN,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SVP/VP/AVP /Associate - Investment & Strategic...
1048,NaN,Zeal Holding Limited,Responsibilities but not limited to\nManage th...,(Personal Data collected will be used for recr...,NaN,NaN,Chief Financial Officer (Fintech),NaN,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chief Financial Officer (Fintech)